/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode


/build/terraform/.terraform
/build/terraform/.terraform.lock.hcl
/build/terraform/terraform.tfstate
/build/terraform/terraform.tfstate.backup

/public/codecoverage